<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>


    <form action="{{ url_for('addSupplier') }}" method="post">
        <input type="text" name="company_name" placeholder="Company Name" required="required"/>
        <input type="number" name="phone_num" placeholder="Phone Number" required="required"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Add</button>
    </form>

</body>
</html>
