<h3>View Customer</h3>
<table>
    <thead>
        <tr>
            <th>Customer ID</th>
<!--            <th>First Name</th>-->
<!--            <th>Middle Name</th>-->
<!--            <th>Last Name</th>-->
            <th>Username</th>
            <th>Ordered Product</th>
            <th>Ordered Quantity</th>
            <th>Total Cost</th>
            <th>Delivery Status</th>
            <!-- Add more attribute headers as needed -->
        </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
            <tr>
                <td>{{ customer.customer.id }}</td>
                <td>{{customer.customer.userName}}</td>
                <td>{{customer.product.productName}}</td>
                <td>{{customer.quantity}}</td>
                <td>${{ customer.quantity * customer.product.productPrice}}</td>
                <td>{{customer.delivered}}</td>
               <td><button onclick="deleteItem('customers', {{ customer.id }})">Delete</button></td>

            </tr>
    {% endfor %}
    </tbody>
</table>