<h3>View Category</h3>
<table>
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Description</th>
            <!-- Add more attribute headers as needed -->
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
            <tr>

                <td>{{ category.id }}</td>

    <td>{{ category.name }} </td>
    <td>{{category.description}}</td>
    <td><button onclick="deleteItem('categories', {{ category.id }})">Delete</button></td>

            </tr>
    {% endfor %}
    </tbody>
</table>